@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

html {
    height: 100%;
    font-family: Roboto;
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    letter-spacing: .6px !important;
}
body{
    font-family: "Roboto Thin";
    font-size: 16px;
}

.header_button:focus{
    outline: none;
}

.outerBox{
    margin-left: 2em;
}

.box {
margin-left: 3em;
}

.wrapper{
padding-left: 1em;
}

.wrapper{
    display: grid;
    grid-template-columns: 60% 40%;
}

.wrapper > div{
    padding: 1em;
}

.userProfilBoxes{
    display: grid;

}
.userProfilBoxes:nth-child {
    color: #eee;
}

.inputBox{
    width: 350px;
    height: 26px;
}

#courseSelection{

}

input{
    float: left;
}

label{
    float: left;
}




