@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

html {
    height: 100%;
    font-family: Roboto;
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    letter-spacing: .6px !important;
}
body{
    font-family: "Roboto Thin";
    font-size: 16px;

}

.userProfilContent{

}

.testContent{
    display: grid;
    grid-template-columns: 70% 30%;
}

.nameContent{
    display: grid;
}

.userImage{
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}
.form-group{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

hr {

    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}