<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anfrage an Dozenten für Hilfe und/oder Terminvereinbarung</title>
    <link rel="stylesheet" href="/stylesheets/G4-0900.css">
    <script src="/javascripts/G4-0900js.js"></script>
    <link rel="stylesheet" href="../stylesheets/navigationBar.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

<div id="UserMenu_All_Header"> <div id="All_Header_left" class="All_Header_Boxes" style="float: left; margin-right: 5px"> <a href="https://osca.hs-osnabrueck.de/"> <div class="outer-wrapper" style="float:left"> <div class="frame" style="height: 52px"> <img id="oscaImagelogo" class="oscaLogo"> </div> </div> </a>

        <div class="dropdown" style="margin-left: 5px">
            <form action="/myGroups">
                <button class="header_button">Meine Gruppe</button>
            </form>
            <div class="dropdown-content">
                <a href="/joinGroup">Gruppe beitreten</a>
                <a href="/requirementsdefinition">Anforderungsdefinition</a>
            </div>
        </div>

        <form action="/presentation">
            <button class="header_button">Präsentation</button>
        </form>
    </div>

    <div id="All_Header_right" class="All_Header_Boxes" style="float: right">

        <div class="frame" style="float: left;">
            <a href="https://my.hs-osnabrueck.de/owa/">
                <div class="outer-wrapper" style="float:left">
                    <div class="frame" style="height: 52px">
                        <i id="mailIcon" class="far fa-envelope fa-lg" style="font-size: 25px"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="frame" style="float: left;">
            <a href="https://netcase.hs-osnabrueck.de">
                <div class="outer-wrapper" style="float:left">
                    <div class="frame" style="height: 52px">
                        <i id="netcaseIcon" class="fas fa-briefcase fa-lg" style="font-size: 25px"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="dropdown">
            <form action="/userInfo">
                <button class="header_button">Benutzer</button>
            </form>
        </div>
        <div class="dropdown">
            <form action="/logout">
                <button class="header_button">Logout</button>
            </form>
        </div>
    </div>
</div>

<!--Kontaktformular -->
<form action="http://127.0.0.1:8080/sendMessage" method="post" id="sendMessage">


    <!-- Gruppennummer -->
    <h1 style="text-align: center">Anfrage an Dozenten</h1>
    <h2> Anfrage für die Gruppe-Nr <%= Gruppennummer %></h2>

    <p id="headline">
        <b>Wollen Sie einen Termin ändern oder eine Frage stellen?</b>
    </p>
    <!-- Abfrage ob Termin änderung/ Fragestellung -->
    <p>
        <label for="dateRequest">Termin ändern</label>
        <input type="radio" id="dateRequest" name="dateRequestQuestion" value="Termin änderung"
               onclick="hideMessage();">
    </p>
    <p>
        <label for="question">Frage stellen</label>
        <input type="radio" id="question" name="dateRequestQuestion" value="Fragestellung"
               onclick="showMessage();">
    </p>
    <!-- Nachricht -->
    <div class="message">
        <p>Nachricht:</p>
        <textarea id="message" name="message" maxlength="500" cols="50" rows="4" style="position: relative; left: 10%;"
                  placeholder="Hier Ihre Nachricht eingeben(max.500 Zeichen)"></textarea>
        <br>
        <br></div>


    <!-- Eingabe Datum -->
    <label for="date">Datum:</label>
    <input type="date" id="date" name="date">
    <p>
        <button type="button" style="text-align: center"
                onclick="noDateEntry()">
            Absenden
        </button>
    </p>


</form>

</body>
</html>