<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G4-0050</title>
    <link rel="stylesheet" href="stylesheets/G4-0050.css">
    <script src="/routes/G4-0050.js"></script>
    <link rel="stylesheet" href="../stylesheets/navigationBar.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="__dirname+/stylesheets/G4-0050.css">
    <script src="__dirname+/routes/G4-0050.js"></script>
</head>
<body>
<div id="UserMenu_All_Header"> <div id="All_Header_left" class="All_Header_Boxes" style="float: left; margin-right: 5px"> <a href="https://osca.hs-osnabrueck.de/"> <div class="outer-wrapper" style="float:left"> <div class="frame" style="height: 52px"> <img id="oscaImagelogo" class="oscaLogo"> </div> </div> </a>

        <div class="dropdown" style="margin-left: 5px">
            <form action="/myGroups">
                <button class="header_button">Meine Gruppe</button>
            </form>
            <div class="dropdown-content">
                <a href="/joinGroup">Gruppe beitreten</a>
                <a href="/requirementsdefinition">Anforderungsdefinition</a>
            </div>
        </div>

        <form action="/presentation">
            <button class="header_button">Präsentation</button>
        </form>
    </div>

    <div id="All_Header_right" class="All_Header_Boxes" style="float: right">

        <div class="frame" style="float: left;">
            <a href="https://my.hs-osnabrueck.de/owa/">
                <div class="outer-wrapper" style="float:left">
                    <div class="frame" style="height: 52px">
                        <i id="mailIcon" class="far fa-envelope fa-lg" style="font-size: 25px"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="frame" style="float: left;">
            <a href="https://netcase.hs-osnabrueck.de">
                <div class="outer-wrapper" style="float:left">
                    <div class="frame" style="height: 52px">
                        <i id="netcaseIcon" class="fas fa-briefcase fa-lg" style="font-size: 25px"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="dropdown">
            <form action="/userInfo">
                <button class="header_button">Benutzer</button>
            </form>
        </div>
        <div class="dropdown">
            <form action="/logout">
                <button class="header_button">Logout</button>
            </form>
        </div>
    </div>
</div>
<h1>Übersicht</h1>
<!--Formular für die Modulerstellung-->
<form method="post" action="http://127.0.01:8080/Modul" id="sendModul">
<table rules="rows">
    <thead>
        <tr>
            <th>Vorlesung</th>
            <th>Vorlesungs-Nr.</th>
            <th>Letze Änderung</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < modul_bezeichnung.length; i++) { %>
        <tr>
            <!--Beim Absenden werden die Daten gespeichert und G4-0100 geladen-->
            <td onclick="document.getElementById('modul').value=this.innerText; setTimeout(() => {
                            document.getElementById('sendModul').submit()
                            }, 10);"><a href="G4-0100"><%=modul_bezeichnung[i] %></a></td>
            <td><%=modulid[i] %></td>
            <td>Letze Änderung</td>
        </tr>
        <% }%>
        <input type="text" name="testmodul" id="modul">
    </tbody>
</table>
</form>
</body>
</html>
