body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fffcfc;
}

#example1 {
    background-image: url("background-balance-business-commerce-583846.jpg");
    background-size: 1920px 1050px;
    background-repeat: no-repeat;
}

.box1 {
    border: 0;
    background: #ffffff;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 0px solid #3498db;
    width: 300px;
    outline: none;
    color: #757575;
    border-radius: 0px;
    transition: 0.25s;

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.h1 {
    text-align: center;
}

.a {

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e8f0fe;
    color: #000000;
    text-align: center;
}

.box h1 {
    color: #000000;
    text-transform: uppercase;
    display: block;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box a {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.box input[type = "text"], .box input[type = "password"] {
    outline: #324aff solid 10px;
    background: #E8F0FE;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 0px solid #fffcfc;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #000000;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    font-size: 20px;
    width: 230px;
    border-color: #e5e5e5;
}

.box input[type = "submit"] {
    border: 0;
    background: #1c9dd9;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: #fffcfc;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover {
    background: #2ecc71;
}
