@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body
{
    font-family: "Montserrat", sans-serif;
    color: #555555;
}

.reqstable
{
    border-collapse: collapse;
    width: 100%;
}

.reqstable th
{
    border: 2px solid #555555;
    width: 33%;
}

.reqstable tr
{
    border: 2px solid #555555;
}

.reqstable td
{
    border: 2px solid #555555;
    text-align: center;
}

button
{
    color: #555555;
    font-family: Montserrat, sans-serif;
    padding: 9px 25px;
    background-color: lightskyblue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}