html {
    height: 100%;
    font-family: Roboto;
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
table {
    border-collapse: collapse;
}

th {
    text-align: left;
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

.table-row{
    cursor: pointer;
}

.wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
}

.wrapper > div{
    padding: 1em;
           }

#UserMenu_All_Header{
    font-size: 17px;
    letter-spacing: .6px !important;
    color: #666;
    white-space: nowrap;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background-color: #e5e5e5;
    height: 52px;
    margin-bottom: 52px;
    }


